triplestore:
  classpath: minmodkg.misc.rdf_store.fuseki.FusekiDB
  args:
    query_endpoint: http://kg:3030/minmod/sparql
    update_endpoint: http://kg:3030/minmod/update
kgrel: postgresql+psycopg://postgres:postgres@kg-postgres:5432/minmod
namespace:
  mr: https://minmod.isi.edu/resource/
  mo: https://minmod.isi.edu/ontology/
  mo-derived: https://minmod.isi.edu/derived/
dbfile: ./minmod.db  # relative to the config file
api_prefix: /api/v1
lod_prefix: ""
# openssl rand -hex 32
secret_key: 4a7bc742a82cf193b20b3a017a73cd58e6fa00d3eeb052bba4ba31d767eaf8c0
