triplestore:
  query: http://kg:3030/minmod/sparql
  update: http://kg:3030/minmod/update
mnr_ns: https://minmod.isi.edu/resource/
mno_ns: https://minmod.isi.edu/ontology/
dbfile: /tmp/minmod.db
api_prefix: /api/v1
lod_prefix: ""
# openssl rand -hex 32
secret_key: 4a7bc742a82cf193b20b3a017a73cd58e6fa00d3eeb052bba4ba31d767eaf8c0
